<a href="https://colab.research.google.com/github/nalevanovich/DS1/blob/main/ds022026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.	Создайте кортеж, содержащий 4 разных числа. Выведите на экран значение предпоследнего элемента кортежа (используя отрицательный индекс).
a = (55, 38, 44, 93)
print ('Предпоследнее число = ', a[-2])

Предпоследнее число =  44

In [ ]:
#2.	Напишите программу, которая принимает строку от пользователя и выводит количество символов в этой строке без учета пробелов.
a = input ('Введите строку ')
i = 0
for symbol in a:
  if symbol != " ":
    i = i + 1
print ('Количество символов без пробелов = ', i)

Введите строку к т о там ?
Количество символов без пробелов =  7

In [ ]:
#3.	Создайте словарь, содержащий информацию о студенте: имя, возраст, курс, предметы (список). Выведите все предметы студента через запятую.
a3 = {'name': 'Надя', 'age': '22', 'course': '2', 'subj': ['физика', 'химия', 'математика', 'биология']}
print(a3['subj'][0], ',', a3['subj'][1], ',', a3['subj'][2], ',', a3['subj'][3])

физика , химия , математика , биология

In [ ]:
#4.	Используя цикл, создайте список, содержащий квадраты всех целых чисел от 1 до 10, и выведите его на экран.
l = []
for i in range (1, 11):
  l.append (i*i)
print (l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#5.	Напишите функцию, которая принимает список чисел и возвращает их среднее арифметическое.
a = input ('Введите числа через пробел: ')
l = [int (x) for x in a.split ()]
print ('Среднее арифметическое = ', sum(l)/len(l))

Введите числа через пробел: 1 28 44 73
Среднее арифметическое =  36.5

In [ ]:
#6.	Создайте два множества из 4 разных чисел каждое, найдите их пересечение и выведите на экран.
m1 = {58, 66, 75, 23}
m2 = {44, 58, 23, 86}
m3 = m1.intersection(m2)
print(m3)

{58, 23}

In [ ]:
#7.	Напишите программу, которая принимает от пользователя целое число и выводит таблицу умножения для этого числа от 1 до 10.
a = int (input ('Введите число '))
l = []
for i in range (1,11):
  l.append (a*i)
print (l)

Введите число 5
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
#8.	Создайте словарь с пятью парами «ключ-значение», где ключи - названия фруктов, а значения - их цвета. Выведите только те фрукты, цвет которых содержит букву 'к'.
a = {'яблоко':'красный', 'банан':'желтый', 'апельсин':'оранжевый', 'слива':'фиолетовый', 'питахайя':'красный'}
for f, c in a.items():
  if 'к' in c:
    print (f)

яблоко
питахайя

In [ ]:
#9.	Напишите функцию, которая принимает строку и возвращает True, если строка является палиндромом (игнорируя регистр и пробелы), и False в противном случае.
a = input('Введите текст: ')
a = a.lower().replace(' ', '')
if a == a[::-1]:
  print ('True')
else:
     (print ('False'))

Введите текст: Аргентина манит негра
True

In [ ]:
#10.	Создайте список из 5 строк и замените в нем каждый третий символ в каждой строке на звездочку '*'.
l = ['яблоко',
     'ты я',
     'дом',
     '**ок',
     '1234',
]
for a in l:
  print (a.replace(a[2], '*'))

яб*окоggg
ты*я
до*
***к
12*4

In [ ]:
#11.	Создайте кортеж из 6 элементов разных типов данных и выведите на экран только те элементы, тип которых является числовым (int или float).
a = ('hi', 1, 10.5, 'number', 103, 'fruit')
for i in a:
  if isinstance(i, (int, float)):
    print(i)

1
10.5
103

In [ ]:
#12.	Напишите программу, которая принимает от пользователя два числа и выводит результат их деления с обработкой исключения деления на ноль.
try:
  a1 = int(input('Введите делимое: '))
  a2 = int(input('Введите делитель: '))
  print(a1/a2)
except ZeroDivisionError:
  print("Ошибка: Деление на ноль невозможно!")

Введите делимое: 10
Введите делитель: 0
Ошибка: Деление на ноль невозможно!

In [ ]:
#13.	Создайте словарь, содержащий информацию о книге (автор, название, год издания, жанр), и выведите информацию в формате: "Название: [название], Автор: [автор], Год: [год], Жанр: [жанр]".
a = {'Автор': 'Л.Н. Толстой', 'Название':'Война и мир','Год':'1867', 'Жанр':'роман'}
print('Название:', a['Название'], ', Автор:', a['Автор'], ', Год:', a['Год'], ', Жанр:', a['Жанр'])

Название: Война и мир , Автор: Л.Н. Толстой , Год: 1867 , Жанр: роман

In [ ]:
#14.	Создайте два множества с названиями городов, найдите города, которые есть в первом множестве, но отсутствуют во втором.
a1 = {'Минск', 'Гродно', 'Витебск', 'Могилев', 'Гомель', 'Лида', 'Брест'}
a2 = {'Минск', 'Барановичи', 'Слуцк', 'Полоцк', 'Витебск', 'Брест', 'Мозырь'}
a3 = a1.difference(a2)
print(a3)

{'Могилев', 'Лида', 'Гомель', 'Гродно'}

In [ ]:
#15.	Напишите функцию, которая принимает список чисел и возвращает кортеж из двух элементов: минимального и максимального числа.
a = input ('Введите числа через пробел: ')
l = [int (x) for x in a.split ()]
l1 = (min(l), max(l))
print(l1)

Введите числа через пробел: 55 88 1 33 46
(1, 88)

In [ ]:
from string import printable
#16.	Создайте список чисел от 1 до 20, а затем создайте новый список, содержащий числа, которые делятся и на 2, и на 3 одновременно.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
l1 = []
for i in l:
  if i % 2 == 0 and i % 3 == 0:
    l1.append(i)
print(l1)

[6, 12, 18]

In [ ]:
#17.	Напишите программу, которая принимает от пользователя строку и выводит количество гласных букв в ней.
a = input('Введите текст: ')
l = 'уУеЕыЫаАоОэЭяЯиИюЮ'
c = 0
for i in a:
  if i in l:
    c = c + 1
print ('Количество гласных: ', c)

Введите текст: привет мАме
Количество гласных:  4

In [ ]:
#18. Создайте кортеж, содержащий 4 элемента различных типов данных, и распакуйте первые три элемента в отдельные переменные.
a, b, c, *_ = (5, 3.14, 'hi', 86)
print(a, b, c)

5 3.14 hi

In [ ]:
#19.	Напишите функцию, которая принимает список словарей с информацией о студентах и выводит информацию о всех студентах в формате "Имя: [имя], Возраст: [возраст], Курс: [курс]".
l = data = [
    {"Имя": "Алексей", "Возраст": 20, "Курс": 2},
    {"Имя": "Мария", "Возраст": 19, "Курс": 1},
    {"Имя": "Иван", "Возраст": 22, "Курс": 4}
]
for i in l:
  a1 = i['Имя']
  a2 = i['Возраст']
  a3 = i['Курс']
  print('Имя:', a1, ', Возраст:', a2, ', Курс:', a3)

Имя: Алексей , Возраст: 20 , Курс: 2
Имя: Мария , Возраст: 19 , Курс: 1
Имя: Иван , Возраст: 22 , Курс: 4

In [ ]:
#20.	Создайте список и добавьте в него 5 различных элементов разных типов данных. Выведите на экран тип данных каждого элемента списка
l = [55, 10.5, 'hi', True, None]
print(type(l[0]), type(l[1]), type(l[2]), type(l[3]), type(l[4]))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'NoneType'>